

footer{
    width: 100%;
    position: static;
    bottom: 0;
    background: linear-gradient(to right, #00093c,#2d0b00);
    padding: 50px  30px 20px 30px; 
  font-size: 1.2em;
}

.row{
    width: 100%;
    display: flex;
  justify-content: space-around;
 flex-direction: column;
    border-bottom: 2px solid rgba(192, 192, 192, 0.63);
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.row .col{
    width: 100%;
    padding: 5px ;
    text-align: center;
    color: white;
    margin:  20px ;
}
.row .col p{
    display: block;
    color: white;
    margin: 5px 0;
}

.row .logo img{
    width: 200px;
    height: 100px;
}
.row .logo p{
  text-align: left;
}

.row .col h3{
    border-bottom: 1px solid white;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.row .links ul{
    list-style: none;
}
.row .links ul li a{
    color: white;
    text-decoration: none;
}

.newsletter{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px 0;
    color: white;
}
.newsletter form{
    width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   margin: 10px 0;
}

.newsletter .social-icon{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.newsletter .social-icon i{
    margin: 0 10px;
}

@media(min-width:992px){
    
.row{
 flex-direction: row;
}
}