*{
  padding: 0;
  margin: 0;
}
body{
    background-color: bisque;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login{
    width: 100%;
    height: 100%;
}
#logo{
    width: 100%;
display: flex;
justify-content: center;
align-items: center;
}
#logo img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgb(4, 4, 29);
    margin-top: 50px;
}

#sect{
    margin:20px 0 80px 0;
    padding: 0 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}
#signin{
    background:#41a2c8;
    text-align: center;
    width: 100%;
    height: 450px;
    box-shadow: 0px 0px 20px 5px rgb(6, 6, 51);
}
#log{
    text-align: center;
    color:rgb(32,42,68);
    font-size: 3em;
    padding: 25px 5px;
}
#signin label,input{
    text-transform: capitalize;
    margin-bottom: 20px;
    padding: 5px 15px 5px 15px;
    font-size: 1.5em;
    font-weight: 700;
    border-style: none;
    border-radius: 15px;
}

#don{
    margin-top: 25px;
}
#don label{
    margin-right: 25px;
}
#don input{
    cursor: pointer;
    background-color: transparent;
    border-style: none;
    
}
#signup{
    background-color:rgb(32,42,68);
    text-align: center;
    width: 100%;
    height: 450px;
}
#signup h1{
    text-align: center;
    text-transform: uppercase;
    color:#41a2c8;
    font-size: 2.5em;
    margin-top: 120px;
}
#signup h4{
    color: white;
    word-spacing:0.7em ;
    letter-spacing:0.2em ;
    margin: 20px 0 130px 0;

}
@media(min-width:992px){
    
    #sect{
        flex-direction: row;
    }
}