*{
    padding: 0;
    margin: 0;
  }
 body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
 }
  .login{
      width: 100%;
      height: 100%;
      padding: 0 20px;
  }
  #logo{
      display: flex;
      justify-content: center;
      align-items: center;
     margin: 50px 0;
  }
  #logo img{
      width: 240px;
      height: 240px;
      border-radius: 50%;
      background-color: rgb(4, 4, 29);
  }
  
  #sect{
    padding: 0 20px;
      display: flex;
      justify-content: center;
      flex-direction: column;
  }
  #signin{
      background:#41a2c8;
      text-align: center;
      width: 100%;
      height: 450px;
      box-shadow: 0px 0px 20px 5px rgb(6, 6, 51);
  }
  #log{
      text-align: center;
      color:rgb(9, 9, 59);
      font-size: 2.5em;
      padding: 25px 0;
  }
 
 #signin input{
      /* text-transform: capitalize;  */
      width: 50%;
      margin-bottom: 20px;
      padding: 15px;
      border: none;
      outline: none;
      border-radius: 15px;
  }
  #signin label{
 font-size: 1.4rem;
 text-transform: capitalize;
 font-weight: 700;
  }

  .login__btn{
      margin: 15px 0;
      background-color: rgb(9, 9, 59);
      font-size: 1.3em;
      padding: 6px 20px;
      color: white;
      transition: .3s all ease-in;
      outline: none;
      border: none;
  }
  .login__btn:hover{
      color:rgb(12, 12, 49);
      background-color:white ;
  }
  
  .fpass a{
     text-decoration: none;
     color: white;

  }

  #signup{
      background-color:rgb(32,42,68);
      /* text-align: center; */
      width: 100%;
      height: 420px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: column;
      box-shadow: 0px 0px 20px 5px rgb(6, 6, 51);
      padding: 20px 0;
  }
  #signup  h1{
      text-align: center;
      text-transform: uppercase;
      color:#1da6dc;
      font-size: 1.8em;
      word-spacing: 0.4em;
      /* margin-top: 80px; */
  }
  #signup .sl{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #signup .sl h4{
      color: white;
      font-size: 1.5em;
      word-spacing:0.7em ;
      letter-spacing:0.2em ;
     margin-bottom: 20px;
  
  }
  #signup .sl a{
      text-decoration: none;
      font-size: 1.3em;
      padding:5px 10px;
      border: 2px solid white ;
      background-color: white;
      border-radius: 20px;
      font-weight: 700;
      color:rgb(9, 9, 59);
      transition: .3s all ease-in-out;
  }
  #signup a:hover{
      color:white;
      background-color: rgb(9, 9, 59);
  }
  @media(min-width:992px){
      
      #sect{
          flex-direction: row;
          /* overflow: hidden; */
      }
  }
  