
.notification{
    width: 100%;
}

.notification .noti_icon{
    text-align: center;
    margin: 20px 0;
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
}

.notification .col__notis{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.notification .col__notis .noti{
    width: 70%;
    margin: 10px 0;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
}
.notification .col__notis .noti i{
    margin: 0 5px ;
    color: red;
    cursor: pointer;
}

.no-notis{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: gray;
}