.na{
    /* display: none; */
    width:0%;
    overflow: hidden;
    background: linear-gradient(#2d0b00, #00093c);
}
#nav-bar{
    height:100vh;
    width:100%;
    display: flex;
    align-items: left;
    flex-direction: column;
    padding: 20px;
    font-size: 1.2rem;
}
#nav-bar i{
    margin:10px 0 ;
    color:white;
}
#nav-bar a{
    text-decoration: none;
    color: white;
    padding-left: 10px;
}

/* media query */
@media(min-width:992px){
    .na{
        width:30%;
    }
}