*{
    margin: 0;
    padding: 0;
}
body{
    background-color: lightgrey;
}
.signup-form{
     display: flex;
     width: 100%;
     height: 100%;
     justify-content: center;
     align-items: center;
}
#signup{
    margin:150px 0 150px 0;
    padding: 0;
    width: 900px;
    height: 700px;
    display: flex;
    background-color: rgb(8, 161, 212);
    align-items: center;
    flex-direction: row;

}
img{
    width: 100%;
    height: 702px;
}
#input-group{
    margin-left: -90px;
}
#input-group input{
    display: block;
    padding: 15px;
    margin: 20px;
    font-size:1em ;
    border-style: none;
    border-bottom: 4px solid rgb(9, 9, 59);
    outline: none;
    background: transparent;
}
::placeholder{
    color: white;
    font-weight: 700;
    text-transform: capitalize;
}
#head{
    margin-left: -30px;
    color: rgb(9, 9, 59);
    text-transform: capitalize;
    font-size: 4em;
}
#signup-btn{
   margin:10px 0 35px 30px;
   padding: 10px;
   color: rgb(9, 9, 59);
   border-style: none;
   border-radius: 8px;
   font-size: 1.5em;
   font-weight: 700;
   text-transform: capitalize;
   cursor: pointer;

}
#signup-btn:hover{
    background-color:rgb(6, 6, 49);
    color: white;
}
#login{
    margin-left: -120px;
    padding: 0;
}
.login{
    font-size: 1.4em;
    color: white;
    text-transform: capitalize;
}
#login a{
    text-decoration: none;
    border: 2px solid rgb(9, 9, 59) ;
    background-color: rgb(9, 9, 59);
    padding:5px 5px 5px 5px;
    border-radius: 8px;
    margin-left:30px ;
    color:white;
}
#login a:hover{
    color:rgb(9, 9, 59);
    font-weight: 700;
    background-color: white;
}
@media(min-width:992px){

    #signup-btn{
        margin:15px 0 20px 35px;
        padding: 15px;
        
     
     }
     .login{
        font-size: 1.5em;
    }
    #login{
        margin-left: -140px;
        padding: 10px 0 5px 0;
    }
    #login a{
        padding:5px 5px 0 5px;
        border-radius: 8px;
        margin-left: 70px;
    }
    #input-group{
        margin-left: -200px;
    }
    #login a{
        padding:5px 5px 0 5px;
        margin-left: 120px;
    }
}