*{
    margin: 0;
    padding: 0;
}
body{
    background-color: lightgrey;
}
.signup-form{
     display: flex;
     width: 100%;
     height: 100%;
     justify-content: center;
     align-items: center;
}
#signup{
    margin:150px 0 150px 0;
    padding: 0;
    width: 800px;
    height: 650px;
    display: flex;
    background-color: rgb(8, 161, 212);
    align-items: center;
    flex-direction: row;

}
img{
    width: 100%;
    height: 652px;
}
#input-group{
    margin-left: -200px;
}
#input-group input{
    display: block;
    padding: 15px;
    margin: 20px;
    font-size:1em ;
    border-style: none;
    border-bottom: 4px solid rgb(9, 9, 59);
    outline: none;
    background: transparent;
}
::placeholder{
    color: white;
    font-weight: 700;
    text-transform: capitalize;
}
#head{
    margin-left: -30px;
    color: rgb(9, 9, 59);
    text-transform: capitalize;
    font-size: 4em;
}
#signup-btn{
   margin:25px 0 5px 35px;
   padding: 15px;
   color: rgb(9, 9, 59);
   border-style: none;
   border-radius: 15px;
   font-size: 1.5em;
   font-weight: 700;
   text-transform: capitalize;
   cursor: pointer;

}
#signup-btn:hover{
    background-color:rgb(6, 6, 49);
    color: white;
}