
.signup-form{
     display: flex;
     width: 100%;
     height: 100vh;
     justify-content: center;
     align-items: center;
}
#signup{ 
    width: 900px;
    display: flex;
    background-color: rgb(8, 161, 212);

}
#signup .logo{
    width: 100%;
}

#signup .logo img{
    width: 100%;
    height: 100%;
}

#signup #input-group{
    width: 100%;
}

#input-group .inputs{
    width: 90%;
   display: flex;
    flex-direction: column;
    padding: 0 20px;
}
#input-group .inputs input{
    padding: 8px 0;
    margin: 8px 0;
    border: none;
    border-bottom: 2px solid rgb(9, 9, 59);
    outline: none;
    color:rgb(9, 9, 59) ;
    background: transparent;
}
#input-group .inputs input::placeholder{
    color: white;
    font-weight:bold;
    text-transform: capitalize;
}
#head{
    color: rgb(9, 9, 59);
    text-align: center;
    text-transform: capitalize;
    font-size: 3em;
}

.signup{
   margin: 10px 0;
    text-align: center;
    width: 100%;
}
.signup #signup-btn{
 text-align: center;
 padding: 5px 10px;
   color: rgb(9, 9, 59);
   border-radius: 8px;
   margin-top: 30px;
   font-size: 1.3em;
   font-weight: bold;
   border: none;
   text-transform: capitalize;
   cursor: pointer;
   transition: .3s all ease;

}
.signup #signup-btn:hover{
    background-color:rgb(6, 6, 49);
    color: white;
}
#login{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0 20px 0;
}
.login{
    font-size: 1em;
    color: white;
    text-transform: capitalize;
}
#login a{
    text-decoration: none;
    background-color: rgb(9, 9, 59);
    padding:5px 10px;
    border-radius: 8px;
    margin-left:30px ;
    color:white;
    font-weight: bold;
    transition: .3s all ease;
}
#login a:hover{
    color:rgb(9, 9, 59);
    background-color: white;
}
@media(min-width:992px){

}