<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../asset/css/h_panel.css">
    <title>Document</title>
</head>
<body>
<!-- The main control board or panel for the dashboard,  aligned next to the side nav -->

<div class="dashboard" >
       <div class="h_panel">
        <h1>Analytic overview</h1>
        <div class="flexboxs">
            <div class="flex1">
                <h2>345</h2>
                <label for="">Total Questions</label>
            </div>
            <div class="flex2">
                <h2>134</h2>
                <label for="">Categories</label>
            </div>
            <div class="flex3">
                <h2>211</h2>
                <label for="">My Questions</label>
            </div>
        </div>
       </div>
</div>

    
</body>
</html>