<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../asset/css/n_panel.css">
    <script src="https://kit.fontawesome.com/3c3539d3c1.js" crossorigin="anonymous"></script>
    <title>notification</title>
</head>
<body>
    <div class="notification">
        <span><b>Notification</b></span><div class="icon"><i class="fa-regular fa-bell"></i></i></div>
        <div class="col">
            <div class="row"><a href=""><i class="fa-regular fa-circle-xmark"></i></a></div>
            <div class="row"><i class="fa-regular fa-circle-xmark"></i></a></div>
            <div class="row"><i class="fa-regular fa-circle-xmark"></i></a></div>
            <div class="row"><i class="fa-regular fa-circle-xmark"></i></a></div>
            <div class="row"><a href=""><i class="fa-regular fa-circle-xmark"></i></a></div>
            <div class="row"><a href=""><i class="fa-regular fa-circle-xmark"></i></a></div>
            <div class="row"><a href=""><i class="fa-regular fa-circle-xmark"></i></a></div>
        </div>
        <button class="delete">Clear all</button>
    </div>
</body>
</html>.